.questionnaire-cards-max-width-md {
	width: 100%;
	max-width: 768px;
}

.questionnaireContent {
	button:disabled {
		background-color: #4d243d7a;
		color: rgba(250, 250, 250, 0.5);
		cursor: default;
	}
}


.min-h-full {
	min-height: 100%;
}
