.secondary-button {
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px black;
	overflow: hidden;

	.secondary-button-text {
		font-weight: bold;
		height: 100%;
		width: 100%;
		text-align: left;
		overflow: hidden;
	}

	.secondary-button-icon {
		height: 100%;
		aspect-ratio: 1;
		margin-left: auto;
	}
}