.spinner {
	$spin: 2s;
	-webkit-animation: spin $spin infinite linear;
	animation: spin $spin infinite linear;
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
