main {
	padding: 1em;
	background-color: rgb(231, 217, 235);
}

.card {
	overflow: hidden;
	max-width: 1280px;
	margin: auto;

	display: flex;
	flex-direction: column;
	gap: 1.2em;
	padding: 0.8em;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.1) 100%);
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border-radius: 1em;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

}
.nav {
	display: flex;
	gap: 0.8em;
	justify-content: space-evenly;
}