main {
	padding: 1em;
	background-color: rgb(231, 217, 235);
}

.card {
	overflow: hidden;
	max-width: 1280px;
	margin: auto;

	display: flex;
	flex-direction: column;
	gap: 1.2em;
	padding: 0.8em;
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border-radius: 1em;

}
.nav {
	display: flex;
	gap: 0.8em;
	justify-content: space-evenly;
}