#matchmake-questions {
	.questions-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	hr {
		width: 100%;
		border-color: #9c9c9c;
	}
	.questions-question {
		display: grid;
		gap: 1.2em;
		.questions-text {
			display: grid;
			gap: 0.8em;
			padding: 0.8em;
			border-radius: 1em;
		}
		.questions-alternatives {
			display: grid;
			gap: 0.8em;
			.questions-alternative {
					display: flex;
					align-items: center;
					gap: 0.8em;
			}
		}
	}
}
