.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.8em;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0.41%,
    rgba(0, 0, 0, 0.05) 7.46%,
    rgba(0, 0, 0, 0.2) 45.57%,
    rgba(0, 0, 0, 0.4) 99.49%
  );
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

  .card-top {
    padding: 0.2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: black;
      padding: 0;
      margin: 0;
    }
  }
  .card-badges {
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .card-buttons {
    display: flex;
    gap: 1em;
  }
}
