header {
  font-size: 1.8em;
  height: 2em;
  background-color: #4d243d;
  color: black;

  .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    gap:0.5em;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
    }

    .logo {
      width: 100%;
      max-width: 3em;
      max-height: 2em;
      height: 100%;
      background-image: url('./logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

  }
}
