$shadow-default: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$padding-default: 0.8rem 1rem;
$font-size: 0.9rem;

.globalInputContainer {
	position: relative;
	margin-bottom: 1rem;
	background-color: rgba(250, 250, 250, 0.07);
	border-radius: $border-radius;
	width: 100%;

	.globalInputContent {
		display: flex;
		align-items: center;

		.globalInputIcon {
			margin-left: 0.5rem;
			position: absolute;
			color: inherit;
			display: flex;
			align-items: center;
		}

		.globalInputIcon + .globalInputField {
			padding-left: 2.5rem;
		}

		.globalInputField {
			border-radius: $border-radius;
			padding: $padding-default;
			background-color: transparent;
			border: none;
			width: 100%;
			font-size: $font-size;
			box-shadow: $shadow-default;
		}

		.globalInputField:focus {
			box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.35);
		}

		.globalInputField:hover {
			box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.7);
		}
	}

	.globalInputError {
		position: absolute;
		top: -40%;
		left: 10%;
		color: #fd6d6d;
		font-size: 0.8rem;
	}
}

.globalInputFieldError {
	border: 1px solid #fd6d6d35;
}
