.info-card-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.8em;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0.41%,
    rgba(255, 255, 255, 0.05) 7.46%,
    rgba(255, 255, 255, 0.1) 45.57%,
    rgba(255, 255, 255, 0.2) 99.49%
  );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(
    to bottom,
    rgba(#4d243d, 0.7),
    rgba(#fd6d6d, 0.5)
  );
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

  .info-card-top {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    .info-card-top-button {
      color: white;
      font-weight: bold;
      font-size: 0.7em;
      display: flex;
      gap: 0.8em;
      padding: 0.3em 0.7em;
      background: #4d243d;
      border-radius: 5px;
      box-shadow: 0 0 5px black;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .info-card-pills {
    color: white;
    display: flex;
    justify-content: space-between;
    .info-card-pill {
      margin: 0;
      font-size: 0.6em;
      padding: 0.1em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #4d243d;
      opacity: 0.3;
      width: 16%;
      height: 18px;
      border-radius: 2em;
      box-shadow: 1px 1px 2px black;

      &:nth-child(n + 2):nth-child(-n + 3) {
        opacity: 1;
      }
    }
  }

  .info-card-info-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    gap: 0.4em 0em;

    .info-card-info {
      display: flex;
      gap: 0.5em;
      p,
      i {
        text-shadow: 0 0 1px white;
        margin: 0;
        padding: 0;
      }
    }
  }
  .info-card-buttons {
    display: flex;
    gap: 1em;
    .info-card-button {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      position: relative;
      display: flex;
      width: 50%;
      height: 2.2em;
      border-radius: 0.5em;
      align-items: center;
      overflow: hidden;
      box-shadow: 1px 1px 2px black;
      p {
        font-size: 0.7em;
        font-weight: bold;
        color: white;
        margin: 20px;
        padding: 0;
      }
      i {
        font-size: 1.4em;
        margin-left: auto;
        float: right;
        padding: 7%;
      }
      .accept-button {
        background-color: #32ba78;
      }
      .decline-button {
        background-color: #fd6d6d;
      }
      .accept-button-alt {
        background: #4d243d;
        color: #32ba78;
      }
      .decline-button-alt {
        background: #4d243d;
        color: #fd6d6d;
      }
    }
  }
}
