.matches-container {
  background: linear-gradient(to bottom, #4d243d, #fd6d6d);
  background: linear-gradient(to bottom, #111318, #4d243d);
  background: white;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
