footer {
  background-color: #4d243d;

  .footer-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      color: white;
      cursor: pointer;
    }
  }
}
