@use "sass:math";

.animate-left {
	animation: translateLeft 0.5s ease-in-out forwards;
	@keyframes translateLeft {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-500px);
		}
	}
}

.animate-right {
	animation: translateRight 0.5s ease-in-out forwards;
	@keyframes translateRight {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(500px);
		}
	}
}

.animate-up {
	animation: translateUp 0.5s ease-in-out forwards;
	@keyframes translateUp {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-20px);
		}
	}
}

.overflow-auto {
	overflow: auto;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}
$fractions: (
	"1\\/2": 50%,
	"1\\/3": #{math.percentage(math.div(1, 3))},
	"2\\/3": #{math.percentage(math.div(2, 3))},
	"1\\/4": 25%,
	"3\\/4": 75%,
);

@each $name, $val in $fractions {
	.h-#{$name} {
		height: $val;
	}
}

.inset-0 {
	inset: 0;
}

.z-1 {
	z-index: 1;
}
