.applications-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  .applications-container-top {
    display: flex;
    justify-content: space-between;
  }

  .animate-left {
    animation: translateLeft 0.5s ease-in-out forwards;
  }

  @keyframes translateLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500px);
    }
  }

  .animate-right {
    animation: translateRight 0.5s ease-in-out forwards;
  }

  @keyframes translateRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(500px);
    }
  }

  .animate-up {
    animation: translateUp 0.5s ease-in-out forwards;
  }

  @keyframes translateUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}
